@*@using static StoreManagment.Models.Common;*@
@model StoreManagment.ViewModel.RegistrationVM

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Register Here</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="background-color:white;"></button>
            </div>
            <div class="modal-body">
                <form id="registrationForm2">
                    <div class="row">
                        <div class="col-lg-6">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" id="Uname" name="Name" />
                            <span id="Vname" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" id="URemail" name="Email" />
                            <span id="Vemail" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password"  type="password" id="Upaasword" name="Password" />
                            <span id="Vnumber" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <label asp-for="Phone_Num" class="control-label"></label>
                            <input asp-for="Phone_Num"  type="number" id="Unumber" name="phone" />
                            <span id="Vdob" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <label asp-for="Role" class="control-label"></label>

                            <select asp-for="Role" asp-items="Html.GetEnumSelectList<Common.UserRole>()" id="Urole" name="role" class="text-center" style="background-color:white;color:black; font-size:20px;">
                                <option>-----User Role-----</option>
                            </select>

                        </div>
                    </div>




                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="SubmitBtn">Submit</button>

                    </div>
                </form>
              @*  <div>
                    <a asp-action="Index">Back to List</a>
                </div>*@
            </div>
        </div>
    </div>


</div>