*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.loginbody {
    background-color: #080710;
}

.background {
    width: 400px;
    height: 480px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

    .background .shape {
        height: 200px;
        width: 200px;
        position: absolute;
        border-radius: 50%;
    }

.shape:first-child {
    background: linear-gradient( #1845ad, #23a2f6 );
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient( to right, #ff512f, #f09819 );
    right: -30px;
    bottom: -80px;
}


.loginform {
    height: 520px;
    width: 404px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}


.loginform {
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

    .loginform h3 {
        font-size: 32px;
        font-weight: 500;
        line-height: 42px;
        text-align: center;
    }


.brw:hover {
    border: 1px groove white;
    /*color: black;*/
}


label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input, select {
    display: block;
    height: 45px;
    width: 100%;
    color: white;
    background-color: rgba(255,255,255,0.07);
    border: 1px groove rgba(255,255,255,0.07);
    border-radius: 10px;
    padding: 0 10px;
    text-transform: capitalize;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 300;
}

    input, select:hover {
        border: 1px groove white;
        background-color: whitesmoke;
        color: black;
        /*color: black;*/
    }

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 35px;
    width: 100%;
    color: #080710;
    padding: 12px 0;
    background-color: rgba(255,255,255,0.27);
    font-size: 19px;
    font-weight: 600;
    border-radius: 15px;
    cursor: pointer;
}

.Buttonlogin:hover {
    background-color: white;
    color: black;
}

.social {
    margin-top: 30px;
    display: flex;
}

    .social div {
        background: red;
        width: 150px;
        border-radius: 12px;
        padding: 5px 10px 10px 5px;
        background-color: rgba(255,255,255,0.27);
        color: #eaf0fb;
        text-align: center;
    }

        .social div:hover {
            background-color: white;
            color: black;
        }

    .social .fb {
        margin-left: 25px;
    }

    .social i {
        margin-right: 4px;
    }







/* Registraton  form Scc Here */
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 12px;
    width: 94%;
    color: white;
    position: relative;
    pointer-events: auto;
    background-color: #080710;
    background-clip: padding-box;
    border: 1px solid white;
    border-radius: 57px;
    outline: 0;
}


/*Stock Item Add Item Image */
#ItemImg {
    width: 85px;
    margin-left: 50px;
    height: 100px;
    filter: drop-shadow(2px 4px 6px gray);
    border-radius: 5px;
}
