<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StoreManagment</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/StoreManagment.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="~/css/StoreCss.css" asp-append-version="true" />

    @*Jquery Daya Table Cdn*@
    @*<link rel="stylesheet" href="https://cdn.datatables.net/2.0.7/css/dataTables.dataTables.min.css">*@
    @*Alertifly.Js Css*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs/build/css/themes/default.min.css" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">*@
    @*<div class="container">
    &copy; 2024 - StoreManagment - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>*@
    @*</footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/StoreJS.js" asp-append-version="true"></script>

    @*Alertifly.Jquery*@
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs/build/alertify.min.js"></script>
    @*<script src="https://cdn.datatables.net/2.0.7/js/dataTables.min.js"></script>*@

    @*Jquery validation*@
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.20.1/dist/jquery.validate.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




