@model StoreManagment.ViewModel.Add_ItemVM
<hr style="color:red;" />
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                @*<div class="card-body">*@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="bg-light p-3" style="margin:25px 10px 10px 10px;padding:15px;">

                                <div class="row mb-3">
                                    <div class="col-lg-5">
                                        <label for="V_Category">Category</label>
                                        <select class="form-control ml-2" id="V_Category">
                                            <option value="">--Select Category--</option>
                                            <!-- Add category options here -->
                                        </select>
                                    </div>
                                    <div class="col-lg-5">
                                        <label for="V_itmName">Item Name</label>
                                        <input type="text" class="form-control ml-2" id="V_itmName" placeholder="Item Name">
                                    </div>
                                    <div class="col-lg-2" style=" margin-top: 55px;">
                                        <button type="button" class="btn btn-success" id="SearchItemBtn">Search</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    @*</div>*@

                </div>
                @*   <div id="ProductListContainer"></div>*@
            </div>

        </div>
    </div>
</section>